/*VARIABLES GLOBALES Y RESET*/
:root {
    --bg-color: #0A0C10;
    --text-color: #e0e0e0;
    --accent-color: #ff4500;
    --naranja-rbd: #CC3D00;
    --panel-bg: #12161e37;
    --border-color: #4B5563;
    --nav-bg: #12161E;
    --active: #00C851;
    --jedi-piolin: #FFD700;
    --skywalker: #00BFFF;
    /*Variable del layout modal*/
    --avatar-size: 150px;
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Space Mono', monospace; 
}

body { 
    background-color: var(--bg-color); 
    color: var(--text-color);
    padding: 20px; 
}

ul { 
    list-style: none; 
}

#piolin {
    color: var(--jedi-piolin); 
}

#rbd{
    color: var(--naranja-rbd);
}

#anakin{
    color: var(--skywalker);
}

/*CONTENEDOR PRINCIPAL Y NAVEGACIÓN*/

.contenedor-principal { 
    max-width: 1200px; 
    margin: 0 auto; 
    background: var(--panel-bg); 
    padding: 20px;
    border: 1px solid var(--border-color); 
    box-shadow: 0 0 30px rgba(0,0,0,0.8); 
}

header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    border-bottom: 2px solid var(--border-color); 
    padding-bottom: 20px; 
    margin-bottom: 20px; 
}

#logo { 
    width: 60px; 
    height: 60px; 
    border: 2px solid var(--accent-color); 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: var(--accent-color); 
}

#nav { 
    display: flex; 
    gap: 10px; 
}

.nav-item { 
    background: var(--nav-bg); 
    padding: 10px; 
    border: 1px solid var(--border-color); 
    cursor: pointer; 
    text-align: center; 
}

.nav-item.active { 
    border-color: var(--active); 
    color: var(--active);
    background: #00c85032; 
}

/*NAVEGACIÓN SPA*/
.section-container { 
    display: none; 
    animation: fadeIn 0.4s ease; 
}

.section-container.active-section { 
    display: block; 
}

@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(10px); } 
    to { opacity: 1; transform: translateY(0); } 
}

/*COMPARTIDOS (botones, controles)*/

h1 { 
    color: var(--jedi-piolin); 
    margin-bottom: 20px; 
}

.controles { 
    background: var(--panel-bg); 
    padding: 10px; 
    display: flex; 
    border: 1px solid var(--border-color); 
    margin-bottom: 20px; 
}

.action-btn.primary { 
    background: var(--skywalker); 
    color: white; 
    border: none; 
    padding: 8px 15px; 
    cursor: pointer; 
     
}

/*Estilo para botones pequeños*/

.btn-peque {
    font-size: 0.7rem;
    padding: 5px;
}

input, #filtro-tipo, #btn-ordenar-velocidad { 
    background: var(--bg-color); 
    border: 1px solid var(--border-color); 
    color: white; 
    padding: 8px; 
}

/*#1 HANGAR*/

.hangar-cuadricula { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
}

.data-card { 
    background: var(--panel-bg); 
    border: 1px solid var(--border-color); 
    padding: 20px; 
    position: relative; 
    min-height: 200px; 
}

/*Estilos para ficha técnica*/

.icon-card-centered {
    display: flex; /*para que justify/align funcionen*/
    justify-content: center;
    align-items: center;
}

.card-icon-large {
    font-size: 5rem;
    color: var(--border-color, #555);
}

.card-caption { 
    position: absolute; 
    bottom: 5px; 
    width: 100%; 
    text-align: center; 
    font-size: 0.7rem; 
    left: 0;
}

/*#2 TABLA PILOTOS*/

.data-table { 
    width: 100%; 
    border-collapse: collapse; 
    background: var(--panel-bg); 
}

.data-table th, .data-table td { 
    border: 1px solid var(--border-color); 
    padding: 10px; 
    text-align: center; 
}

.data-table th { 
    color: var(--skywalker); 
}

.pilot-row:hover { 
    background: var(--naranja-rbd); 
    cursor: pointer; 
}

/*#3 KANBAN MISIONES*/

.kanban-board { 
    display: flex; 
    gap: 20px; 
}

.kanban-columna {
    flex: 1; 
    background: var(--panel-bg); 
    border: 1px solid var(--border-color);
    min-height: 300px; 
    display: flex; 
    flex-direction: column; 
}

.columna-header { 
    background: var(--panel-bg);
    padding: 10px; 
    display: flex; 
    justify-content: space-between; 
    border-bottom: 2px solid var(--jedi-piolin); 
}

.mision-contador { 
    background: var(--skywalker); 
    border-radius: 20%; 
    padding: 5px 13px; 
    font-size: large;
    font-weight: bolder;
    color: var(--naranja-rbd); 
}

.columna-content { 
    flex: 1; 
    padding: 10px; 
    min-height: 250px; 
}

.mission-card { 
    background: var(--panel-bg); 
    border: 1px solid var(--skywalker); 
    padding: 10px; 
    cursor: grab; 
    margin-bottom: 10px; 
}

/*Estilos para detalles de misión*/

.card-details {
    display: none; 
    margin-top: 10px;
}

/*#4 DASHBOARD*/
.control-grid { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

.estado-item { 
    background: var(--accent-color); 
    color: var(--bg-color);
    font-weight: 900;
    border: 1px solid var(--border-color); 
    margin-bottom: 10px; 
}

.estado-header { 
    padding: 15px; 
    cursor: pointer; 
    display: flex; 
    justify-content: space-between; 
}
.estado-header span{
    font-size:large;
}

/*Estilos para Dashboard*/
.resaltado-text {
    color: var(--skywalker);
    font-weight: 900;
    margin-left: auto;
    align-self: center
}

.estado-content {
    display: none; 
    padding: 10px;
}

.infografia-columna {
    position: relative;
    height: 200px;
}



.nodo-core {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--jedi-piolin); 
    padding: 20px;
    border-radius: 50%;
}

.satellite-icon {
    position: absolute;
    color: orange;
}

.satellite-icon.top {
    top: 10%;
    left: 50%;
}

.satellite-icon.left {
    top: 50%;
    left: 20%;
}

/*MODAL FLOTANTE Y FORMULARIO*/

.modal-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    display: none; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000; 
}

.piloto { 
    background: var(--panel-bg); 
    padding: 30px; 
    border: 2px solid var(--accent-color); 
    width: 600px; 
    border-radius: 10px; 
}

/*Estilos para la tarjeta modal*/

.piloto-card-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.piloto-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);
    min-width: var(--avatar-size);
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Estilo para el formulario de edición*/

.editar-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cerrar-btn { 
    background: none; 
    border: none; 
    color: var(--accent-color); 
    font-size: 2rem; 
    cursor: pointer; 
}